#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  height: 80vh;
  width: 80vw;
  color: aliceblue;
  background-color: black;
}
.projectCard {
  height: 200px;
  width: 500px;
  background-color: rgb(99, 139, 139);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: brown;
}

.details {
  height: 80px;
}

#addProjectBtn {
  height: 50px;
  width: 50px;
  background-color: red;
  cursor: pointer;
}
.hidden {
  display: none;
}
#addTaskBtn {
  cursor: pointer;
}

#important {
  cursor: pointer;
  height: 25px;
  width: 25px;
  background-color: green;
}
.taskComplete {
  background-color: blueviolet;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
ul {
  list-style: none;
}
